<%- include("partial/header") -%>
    <div class="box" id="heading">
    <h1>Url Converter</h1>
    <form class="" action="/result" method="post">
      <input type="url" name="TypedUrl" placeholder="Enter Url">
      <button class="btn btn-primary" type="submit" name="button">Get Shorted Url</button>
    </form>
  </div>
<%- include("partial/footer") -%>
